<!-- plantDetails.ejs -->

<%- include("_header") -%>

<h1>Détails de la Plante</h1><br>

<div>
  <h5>Nom de la Plante: <%= model.plantName %></h5>
  <p>Famille: <%= model.famille %></p>
  <p>Emplacement: <%= model.location %></p>
  <p>Crée le : <%= model.createdAt %></p>
  <% if (model.OwnerFirstName && model.OwnerLastName) { %>
  <p>Titulaire: <%= model.OwnerFirstName %> <%= model.OwnerLastName %></p>
  <% } else { %>
      (No Owner)</p>
  <% } %>
</div>

<%- include("_footer") -%>
