<%- include("_header") -%>

<h1>Informations sur les Plantes et les Utilisateurs</h1>

<div class="row">
  <h2>Plantes</h2>
  <a href="/plante" class="btn btn-primary mx-5">
      <i class="fas fa-leaf"></i> Voir les Plantes
  </a>
</div>
<ul class="row list-unstyled d-flex justify-content-around mt-3">
  <% let columnCounter = 0; %>
  <% for (const plant of plants) { %>
      <li class="list-group-item border border-dark border-3 p-2 rounded col-3 my-2" onclick="redirectToDetails('<%= plant.plantID %>')" style="cursor: pointer;">
          <h5 class="text-center mb-1 "><%= plant.plantName %> - <%= plant.famille %></h5>
          <% if (plant.OwnerFirstName && plant.OwnerLastName) { %>
              <p class="m-0 pl-3">(Créée par : <%= plant.OwnerFirstName %> <%= plant.OwnerLastName %>)</p>
          <% } else { %>
              <p class="m-0 pl-3">(No Owner)</p>
          <% } %>
      </li>
      <% columnCounter++; %>
      <% if (columnCounter === 3) { %>
          </ul>
          <ul class="row list-unstyled d-flex justify-content-around">
          <% columnCounter = 0; %>
      <% } %>
  <% } %>
</ul>

<div class="row">
    <h2>Utilisateurs</h2>
    <a href="/users" class="btn btn-primary mx-5">
        <i class="fas fa-users"></i> Voir les Utilisateurs
    </a>
</div>
<ul>
  <% let currentOwner = null; %>
  <% for (const user of users) { %>
    <% if (user.OwnedPlantName) { %>
      <% if (currentOwner !== user.FirstName + user.LastName) { %>
        <% if (currentOwner !== null) { %>
          <%= ")" %>
        <% } %>
        <li>
          <%= user.FirstName %> <%= user.LastName %> (Propriétaire de : <%= user.OwnedPlantName %>
          <% currentOwner = user.FirstName + user.LastName; %>
      <% } else { %>
        , <%= user.OwnedPlantName %>
      <% } %>
    <% } %>
  <% } %>
  <% if (currentOwner !== null) { %>
    <%= ")" %>
  <% } %>
</ul>

<%- include("_footer") -%>

<script>
  function redirectToDetails(plantID) {
    window.location.href = "/plante/details/" + plantID;
  }
</script>